<mat-sidenav-container class="sidenav-layout">
    <mat-sidenav #sidenav mode="over">
        <div class="sidenav-header">
            <div class="sidenav-header-top">
                <h3 class="logo">🛒 Farmers Market</h3>

                <button mat-icon-button (click)="sidenav.close()" aria-label="Bezárás">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>

        <mat-nav-list>
            <a mat-list-item routerLink="/app/products">Termékek</a>
            <a mat-list-item routerLink="/app/farmers">Farmerek</a>
            <a mat-list-item routerLink="/app/profile">Profilom</a>
            <a mat-list-item routerLink="/app/orders">Rendeléseim</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-user-header (menuToggle)="sidenav.toggle()"></app-user-header>
        <main class="main-content">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>