.avatar {
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.list {
  height: 100%;
  gap: 8px;
}

.item-details {
  padding: 0.5rem 0;
}

.item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
