<mat-sidenav-container class="sidenav-layout">
  <mat-sidenav #sidenav mode="over">
    <div class="sidenav-header">
      <div class="sidenav-header-top">
        <h3 class="logo">🛒 Farmers Market</h3>

        <button mat-icon-button (click)="sidenav.close()" aria-label="Bezárás">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/products">Termékek</a>
      <a mat-list-item routerLink="/farmers">Farmerek</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/login">Bejelentkezés</a>
      <a mat-list-item routerLink="/register">Regisztráció</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (menuToggle)="sidenav.toggle()"></app-header>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>