.sidenav-layout {
  height: 100vh;
}

.sidenav-header {
  padding: 1rem;
}

.sidenav-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-content {
  padding: 1rem;
}
