<mat-toolbar color="primary" class="container">
  <div class="left">
    <button mat-icon-button (click)="menuToggle.emit()" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="center">
    <span class="logo" routerLink="/management">🛒 Farmers Market</span>
  </div>

  <nav class="right">
    <ng-container>
      <button mat-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
        {{ user.name }}
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item routerLink="/management/profile">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-container>
  </nav>
</mat-toolbar>
