<mat-toolbar color="primary" class="container">
  <div class="left">
    <button mat-icon-button (click)="menuToggle.emit()" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="center">
    <span class="logo" routerLink="/">🛒 Farmers Market</span>
  </div>

  <nav class="right">
    <app-cart-dropdown></app-cart-dropdown>

    <ng-container *ngIf="user; else guestLinks">
      <button mat-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
        {{ user.name }}
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item routerLink="/profile">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-container>

    <ng-template #guestLinks>
      <button mat-button routerLink="/login">Login</button>
      <button mat-stroked-button color="accent" routerLink="/register">Register</button>
    </ng-template>
  </nav>
</mat-toolbar>