<button mat-icon-button [matMenuTriggerFor]="cartMenu" [matBadge]="(cartItemCount$ | async) || 0" matBadgeColor="accent"
    aria-label="cart">
    <mat-icon>shopping_cart</mat-icon>
</button>

<mat-menu #cartMenu="matMenu" class="cart-dropdown">
    <ng-container *ngIf="cartItems$ | async as items; else emptyCart">
        <ng-container *ngIf="items.length > 0; else emptyCart">
            <app-cart-item *ngFor="let item of cartItems$ | async" [item]="item" [compact]="true"></app-cart-item>
            <mat-divider></mat-divider>
            <div class="cart-total">
                Összesen: {{ totalPrice$ | async | currency:'HUF' }}
            </div>
            <button mat-button color="primary" routerLink="/cart">Kosár megtekintése</button>
        </ng-container>
    </ng-container>

    <ng-template #emptyCart>
        <div class="empty-cart">A kosarad üres</div>
    </ng-template>
</mat-menu>