<div class="cart-container">
  <h2>Kosár tartalma</h2>

  <ng-container *ngIf="cartItems$ | async as items; else emptyCart">
    <ng-container *ngIf="items.length > 0; else emptyCart">

      <app-cart-item *ngFor="let item of cartItems$ | async" [item]="item"></app-cart-item>

      <div class="cart-summary">
        <h3>Összesen: {{ totalPrice$ | async | currency:'HUF ' }}</h3>
        <a mat-raised-button color="primary" routerLink="/app/checkout">Megrendelés</a>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #emptyCart>
    <div class="empty-cart">A kosarad üres</div>
  </ng-template>
</div>