<h1 mat-dialog-title>Új termék hozzáadása</h1>
<div mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Termék kiválasztása</mat-label>
        <mat-select formControlName="productId">
            <mat-option *ngFor="let product of products" [value]="product._id">
                {{ product.name }} – {{ product.category }} ({{ product.price | currency:'HUF' }})
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Mennyiség</mat-label>
        <input matInput type="number" formControlName="quantity" />
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Mégse</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">Hozzáadás</button>
</div>